/* header内のスタイル */
header {
  display: flex !important;
  background-color: gray; /* ライトグレーの背景 */
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-title h1{
  font-size: 30px;
}

.header-nav nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav ul li {
  font-size: 18px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  list-style: none;
}

nav a:hover {
  color: #0056b3; /* ホバースタイル */
}


/* ウェルカムセクションのスタイル */
.welcome-section {
  background-color: yellow; /* 明るい背景色 */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.welcome-heading {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.welcome-message {
  font-size: 1.2rem;
  color: #666;
}


.message-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
