{% extends 'base.html' %}

{% load static %} 

{% block content %}

<div class="container my-1">
    <section class="jumbotron text-center">
        <h1 class="jumbotron-heading">映画鑑賞記録の新規作成</h1>
        <p class="lead text-muted">ここで映画の新しい記録を追加できます。</p>
    </section>
</div>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div>
          {{ form.title.label_tag }} {{ form.title }}
          {{ form.title.errors }}
        </div>
      
        <div>
            {{ form.poster.label_tag }} {{ form.poster }}
            {{ form.poster.errors }}
        </div>
      
        <div>
            {{ form.date_watched.label_tag }} {{ form.date_watched }}
            {{ form.date_watched.errors }}
        </div>
      
        <div>
            {{ form.rating.label_tag }} {{ form.rating }}
            {{ form.rating.errors }}
        </div>

        <button type="submit" class="btn-save">保存</button>
    </form>
</div>

{% endblock %}
