{% extends "base.html" %}
{% load static %}

{% block title %} おすすめ作品 {% endblock %}

{% block content %}
  <section class="container py-4">
    <h1 class="text-center font-weight-bold mb-4">「{{ label }}」おすすめの作品はこちら</h1>
    <div class="row">
      {% for mv in movies %}
          <div class="card h-100" style="width: 20rem;">
            {% if mv.poster_url %}
              <img src="{{ mv.poster_url }}" class="card-img-top" alt="{{ mv.title }}">
            {% else %}
              <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="No image">
            {% endif %}

          <div class="card-body">
            <h5 class="card-title">タイトル: {{ mv.title }}</h5>
            <p class="card-text text-muted">あらすじ: {{ mv.overview }}</p>
            <p class="card-text"><small class="text-muted">ジャンル: {{ mv.genres|join:", " }}</small></p>
            <p class="card-text">評価: {{ mv.rating }}</p>
          </div>
      {% endfor %}
    </div>
</section>
{% endblock %}