{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ムードシネマ{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/users/home/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/movies/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/movies/mood_archive.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/missions/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="{% block page_bg_wrapper_class %}{% endblock %}">
    <header>
        <div class="header-title">
            <h1>ムードシネマ</h1>
        </div>
        <div class="header-nav">
            <nav>
              <ul>
                <li><a href="{% url 'movies:home' %}">ホーム</a></li>
                <li><a href="{% url 'movies:record' %}">記録一覧</a></li>
                <li><a href="{% url 'missions:batch' %}">バッジ一覧</a></li>
                <li><a href="{% url 'movies:recommend_select' %}">おすすめ</a></li>
              </ul>
            </nav>
          </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container text-center">
            <small>© {% now "Y" %} ムードシネマ</small>
            <nav>
                <a href="#">利用規約</a> |
                <a href="#">プライバシー</a> |
                <a href="#">お問い合わせ</a>
            </nav>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/movies/review_like.js' %}?v={{ STATIC_VERSION }}"></script>
</body>
</html>
