{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}映画鑑賞チャレンジアプリ{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/users/home/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/movies/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/movies/mood_archive.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/missions/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="header-title">
            <h1>映画鑑賞チャレンジアプリ</h1>
        </div>

        <div class="header-nav">
            <nav>
              <ul>
                <li><a href="{% url 'movies:home' %}">ホーム</a></li>
                <li><a href="{% url 'users:logout' %}">ログアウト</a></li>
                <li><a href="{% url 'missions:user_batch_list' %}">バッチ一覧</a></li>
                <li><a href="{% url 'users:progress_goal_create' %}">目標管理</a></li>
              </ul>
            </nav>
          </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container text-center">
            <p>© 2024 サイト名. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/movies/review_like.js' %}?v={{ STATIC_VERSION }}"></script>
</body>
</html>
