{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login/styles.css' %}?v=3.0">
    <title>ログイン</title>
</head>
<body>
    <div class="container">
        <form method="post">
            <h2>ログイン</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="message-container ">
                <button type="submit">ログイン</button>
                <button type="button" onclick="location.href='{% url 'users:signup' %}'">ユーザー登録</button>
            </div>            
        </form>
    </div>
</body>
</html>
